html {
    background-color: gold;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 5%;
    border: 1px solid gray;
    width: 90%;
    background-color: white;
}
body, #header, #footer {
    border-radius: 5px;
}
p { line-height: 1.2em; }
h1 { color: #666; }
h2 { margin-top: 1.5em; }
a { color: #185e91; }
a:hover { color: #97accb; }
a:visited { color: #185e91; }


/*---HEADER---*/

#header {
    padding: 0 4%;
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    height: 145px;
}
#site-name {
    display: block;
    position: absolute;
    left: 50px;
    top: 20px;
}
#site-name a {
    display: block;
    height: 25px;
    padding: 50px 0;
    color: black;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-image: url('images/umsi_square.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 145px;
}
#navigation {
    display: block;
    position: absolute;
    right: 50px;
    top: 70px;
}
#navigation ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
#navigation li {
    display: inline;
    margin-right: 1em;
    font-size: 1.1em;
}
#navigation li a {
    display: inline-block;
    background-color: #185e91;
    color: white;
    text-decoration: none;
    padding: 10px 15px 7px 15px;
    top: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    border-radius: 5px;
}
#navigation li a:hover {
    background-color: #97accb;
}
#navigation li .selected {
    display: inline-block;
    background-color: #97accb;
    color: white;
    text-decoration: none;
    padding: 10px 15px 7px 15px;
    border-radius: 5px;
}


/*---CONTENT---*/
#content {
    padding: 2% 5%;
}

/*---ADD CLASSES PAGE---*/

#enter-classes {
    border: 0px;
    margin-bottom: 30px;
}
#enter-classes td {
    vertical-align: middle;
}
#select-class,
#search-class {
    width: 45%;
}
#or {
    width: 10%;
    font-size: 1.2em;
}
#manual-entry {
    background-color: #efefef;
    border: 1px solid black;
    padding: 20px;
}
#manual-entry h2 {
    margin-top: .5em;
}
.save-button {
    font-size: 2em;
    text-align: center;
    margin-left: 45%;
    cursor: pointer;
    margin-top: 20px;
}

/*---REPORT TABLE---*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
    text-align: center;
}
th {
    padding: 15px 0 7px 0;
}
td {
    padding-top: 2px;
}
.taken-check {
    width: 5%;
    font-size: 0;
    text-align: center;
}
input[type="checkbox"] {
    margin: 10px;
    width: 20px;
}
th.course-title, 
td.course-title {
    width: 70%;
    text-align: left;
    padding-left: 10px;
}
.credits,
.pep {
    width: 10%;
}
.caption {
    font-style: italic;
    color: gray;
}

.course-title {
    width: 200px;
}

.course-credits {
    width: 50px;
}

/*---FOOTER---*/

#footer {
    border-top: 1px solid lightgray;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 40px;
    text-align: center;
    color: darkgray;
    font-size: .75em;
    background-color: whitesmoke;
    padding: 30px;

}
#footer p {
    margin: 0;
}